<!-- <app-topbar></app-topbar> -->

<!-- <app-sidebar></app-sidebar> -->


<!-- <app-footer></app-footer> -->

<body class="dashboard dashboard_1">
  <div class="full_container">
     <div class="inner_container">
        <!-- Sidebar  -->
        <nav id="sidebar">
           <div class="sidebar_blog_1">
              <div class="sidebar-header">
                 <div class="logo_section">
                    <a href="/assets/index.html"><img class="logo_icon img-responsive" src="/assets/images/logo/logo_icon.png" alt="#" /></a>
                 </div>
              </div>
              <div class="sidebar_user_info">
                 <div class="icon_setting"></div>
                 <div class="user_profle_side">
                    <div class="user_img"><img class="img-responsive" src="/assets/images/layout_img/user_img.jpg" alt="#" /></div>
                    <div class="user_info">
                       <h6>John David</h6>
                       <p><span class="online_animation"></span> Online test </p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="sidebar_blog_2">
              <h4>General</h4>
              <ul class="list-unstyled components">
                 <li class="active">
                    <a href="/assets/#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                    <ul class="collapse list-unstyled" id="dashboard">
                       <li>
                          <a href="/assets/dashboard.html">> <span>Default Dashboard</span></a>
                       </li>
                       <li>
                          <a href="/assets/dashboard_2.html">> <span>Dashboard style 2</span></a>
                       </li>
                    </ul>
                 </li>
                 <li><a href="/assets/widgets.html"><i class="fa fa-clock-o orange_color"></i> <span>Widgets</span></a></li>
                 <li>
                    <a href="/assets/#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Elements</span></a>
                    <ul class="collapse list-unstyled" id="element">
                       <li><a href="/assets/general_elements.html">> <span>General Elements</span></a></li>
                       <li><a href="/assets/media_gallery.html">> <span>Media Gallery</span></a></li>
                       <li><a href="/assets/icons.html">> <span>Icons</span></a></li>
                       <li><a href="/assets/invoice.html">> <span>Invoice</span></a></li>
                    </ul>
                 </li>
                 <li><a href="/assets/tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                 <li>
                    <a href="/assets/#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                    <ul class="collapse list-unstyled" id="apps">
                       <li><a href="/assets/email.html">> <span>Email</span></a></li>
                       <li><a href="/assets/calendar.html">> <span>Calendar</span></a></li>
                       <li><a href="/assets/media_gallery.html">> <span>Media Gallery</span></a></li>
                    </ul>
                 </li>
                 <li><a href="/assets/price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                 <li>
                    <a href="/assets/contact.html">
                    <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                 </li>
                 <li class="active">
                    <a href="/assets/#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                    <ul class="collapse list-unstyled" id="additional_page">
                       <li>
                          <a href="/assets/profile.html">> <span>Profile</span></a>
                       </li>
                       <li>
                          <a href="/assets/project.html">> <span>Projects</span></a>
                       </li>
                       <li>
                          <a href="/assets/login.html">> <span>Login</span></a>
                       </li>
                       <li>
                          <a href="/assets/404_error.html">> <span>404 Error</span></a>
                       </li>
                    </ul>
                 </li>
                 <li><a href="/assets/map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                 <li><a href="/assets/charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                 <li><a href="/assets/settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
              </ul>
           </div>
        </nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
           <!-- topbar -->
           <div class="topbar">
              <nav class="navbar navbar-expand-lg navbar-light">
                 <div class="full">
                    <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                    <div class="logo_section">
                       <a href="index.html"><img class="img-responsive" src="/assets/images/logo/logo.png" alt="#" /></a>
                    </div>
                    <div class="right_topbar">
                       <div class="icon_info">
                          <ul>
                             <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                             <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                             <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                          </ul>
                          <ul class="user_profile_dd">
                             <li>
                                <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/assets/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                                <div class="dropdown-menu">
                                   <a class="dropdown-item" href="/assets/profile.html">My Profile</a>
                                   <a class="dropdown-item" href="/assets/settings.html">Settings</a>
                                   <a class="dropdown-item" href="/assets/help.html">Help</a>
                                   <a class="dropdown-item" href="/assets/#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                </div>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </nav>
           </div>
           <!-- end topbar -->
           <!-- dashboard inner -->
           <div class="midde_cont" >

             <app-department></app-department>

          </div>
              <!-- footer -->
              <div class="container-fluid mb-0" >
                 <div class="footer " >
                    <p>Copyright © 2018 Designed by html.design. All rights reserved.</p>
                 </div>
              </div>

           <!-- end dashboard inner -->
        </div>
     </div>
  </div>


</body>


